table {
    width: 100%; 
    table-layout: fixed;
}

td {
    white-space: nowrap;
    text-align: center;
}

td {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

td::-webkit-scrollbar {
    display: none;
}


th:nth-child(1),
td:nth-child(1) {
    width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 14%;
}

th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
    width: 14%;
}

th:nth-child(6),
td:nth-child(6) {
    width: 6%;
}

th:nth-child(7),
td:nth-child(7) {
    width: 10%;
}

th:nth-child(8),
td:nth-child(8),
th:nth-child(9),
td:nth-child(9),
th:nth-child(10),
td:nth-child(10),
th:nth-child(11),
td:nth-child(11),
th:nth-child(12),
td:nth-child(12),
th:nth-child(13),
td:nth-child(13),
th:nth-child(14),
td:nth-child(14),
th:nth-child(15),
td:nth-child(15) {
    width: 6%;
}

th:nth-child(16),
td:nth-child(16) {
    width: 8%;
}

.content #section-title {
	font-size: 2em;
	font-weight: bolder;
}

.content #section-buttons {

    display: flex;
    align-items: center;
	margin-top: 5%;
	width: 100%;

}

.content #section-buttons img {
    width: 2.4vw;
}
.content #section-buttons img:hover {
    filter: brightness(80%); 
}

.content #section-buttons button {
	background-color: #3F4756;
	color: white;
	width: 8vw;
	height: 2.5vw;
	border: none;	
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.75em;
}

.content #section-buttons button:hover {
	background-color: #A3ABBD;
	color: white;
}

.content #modify-buttons {
	display: inline-block;
	float: right;
	margin-top: 2%;
}

.content #modify-buttons input {
	height: 4vh;
	width: 2vw;
	margin: 0 0.2vw;
	padding-left: 0.75em;
}

.content #modify-buttons button {
	background-color: #3F4756;
	color: white;
	width: 5vw;
	height: 5vh;
	border: none;	
	border-radius: 4px;
	font-size: 0.8em;
	margin: 0 0.2vw;
}

.content #modify-buttons button:hover {
	background-color: #A3ABBD;
	color: white;
}

.content #modify-buttons #remove-button {
	background-color: #872F4C;
}

.content #modify-buttons #remove-button:hover {
	background-color: #B16B7D;
}


.content #modify-buttons #add-button {
	background-color: #28507E;
}

.content #modify-buttons #add-button:hover {
	background-color: #4E5B92;
}

.content table {
	margin-top: 1%;
	border: 1px solid black;
	width: 100%;
	
}
.content table tr:hover {
	background-color: #06bbcc;
}

.content table th, .content table td {
	padding: 0vw 0vw;
	text-align: center;
	font-size: 1vw;
}

